services:
    rabbitmq:
        image: rabbitmq:3-management
        container_name: rabbitmq
        restart: always # Iniciar automaticamente o serviço caso o computador seja reiniciado.
        ports: 
            - 5672:5672
            - 15672:15672
        volumes:
            - ./rabbitmq_data:/var/lib/rabbitmq/ #lado esquerdo é o caminho na máquina física (até ./dados:), lado direito é o que está dentro do container
        environment:
            RABBITMQ_DEFAULT_USER: guest
            RABBITMQ_DEFAULT_PASS: guest